.page {
    width: 100% !important;
    height: 100vh;
    position: relative;
}

.parallax {
    position: absolute;
    width: 100%;
    height: 100vh;
}


.sky {
    overflow: hidden;
    position: absolute;
    height: 100vh;
    width: 100%;
}

.mouseOver {
    pointer-events: none;
}

.layer {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-size: auto 100vh;
    background-image: var(--backgroundImage);
    background-blend-mode: multiply;
    background-repeat: repeat-x;


    mask-image: var(--backgroundImage);
    mask-mode: alpha;
    mask-size: auto 100vh;
    mask-repeat: repeat-x;
}

.circleContainer {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}


.page {
    width: 100vw;
    height: 100%;
    background-color: rgb(20,25,31);
}

.title {
    position: absolute;
    top: 30%;
    left: 10%;
    color: white;
    font-size: 3em;
    font-weight: bold;
}

.title h1, .title h2, .title h3 {
    color: white;
    font-weight: bold;
}


@media screen and (max-width: 1000px) {
    .title {
        width: 80%;
        top: 20%;
        font-size: 2.5em;
        margin-top: 100px;
    }

    .title h1, .title h2 {
        margin: auto;
    }

}



.stars {
    position: absolute;
    top: 0;
    width: 200vw;
    height: 100vh;
    transform: translate(0%, 0%);
    background-size: contain;
    background-repeat: repeat;
    transform-origin: top left;
}
  
.starsL {
    background-image: url("../../images/landscape/stars-L.svg");
    background-size: 890px;
    height: 750px;
    animation: panning-stars 180s linear infinite alternate;
}
  
.starsM {
    background-image: url("../../images/landscape/stars-M.svg");
    height: 530px;
    animation: panning-stars 160s linear infinite alternate;
}
  
.starsS {
    background-image: url("../../images/landscape/stars-S.svg");
    height: 370px;
    animation: panning-stars 200s linear infinite alternate;
}

.clouds1 {
    opacity: 0.4;
    background-image: url("../../images/landscape/clouds1.svg");
    background-size: auto 100vh;
    animation: moving-clouds 100s linear infinite alternate;
}

  
@keyframes panning-stars {
    from {
        background-position: 0vh 0vh;
    }
    to {
        background-position: 80vh 40vh;
    }
}

@keyframes moving-clouds {
    from {
        background-position: 0vh;
    }
    to {
        background-position: 100vh;
    }
}

@media screen and (max-width: 400px) {
    .title {
        font-size: 8vw;
    }
}