h1 {
    color: white
}

.linkCards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.linkCards::-webkit-scrollbar {
    display: none;
}

.formCard {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
}

.formCard input {
    width: 100%;
    min-height: 2em;
    background-color: rgb(20, 25, 31);
    outline: none;
    border: none;
    border-radius: 15px;
    padding-left: 1em;
    color: white;
    font-size: 1.5em;
    transition: 0.3s;
    box-sizing: border-box;
}

.formCard input::placeholder {
    color: rgba(255, 255, 255, 0.555);
}

.formCard input:focus {
    transition: 0.3s;
    background-color: rgb(31, 38, 46);
}

.formButton:hover {
    background-color: rgb(31, 38, 46);
    transition: 0.3s;
}

.formButton:active {
    background-color: rgb(71, 86, 104);
    transition: 0.3s;
}

.textField:focus {
    transition: 0.3s;
    background-color: rgb(31, 38, 46);
}


.textField {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background-color: rgb(20, 25, 31);
    border-radius: 10px;
    resize: none;
    color: white;
    box-sizing: border-box;
    padding: 1em;
    font-size: 1.5em;
    transition: 0.3s;
}

.formButton {
    width: 100%;
    min-height: 2em;
    background-color: rgb(20, 25, 31);
    outline: none;
    border: none;
    border-radius: 15px;
    padding-left: 1em;
    color: white;
    font-size: 1.5em;
    box-sizing: border-box;
}

.emptyField:not(:focus){
    position: relative !important;
    background-color: rgba(255, 0, 0, 0.219) !important;
}