.cardContainer {
    margin-top: 4em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media screen and (max-width: 1400px) {
    .cardContainer {
        flex-direction: column;
    }
}