.app {
    display: flex;
    flex-direction: column;
}

.pageContainer1 {
    display: flex;
    width: 100%;
    min-height: 100vh;
    height: fit-content;
}


.pageContainer2 {
    display: flex;
    width: 100%;
    min-height: 100vh;
    height: fit-content;
}

.absolute {
    position: relative;
}