.mainContainer {
    max-width: 100%;
}

.layer {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-size: auto 100vh;
    background-image: var(--backgroundImage);
    background-blend-mode: multiply;
    background-repeat: repeat-x;
    mask-image: var(--backgroundImage);
    mask-mode: alpha;
    mask-size: auto 100vh;
    mask-repeat: repeat-x;
    z-index: 100;
    pointer-events: none;
}

.mouseOver {
    pointer-events: none;
}

.page {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    z-index: 10;
    min-height: 100vh;
    padding-top: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    
}

.mouseover {
    pointer-events: none;
}

.offset {
    animation: offset 20s infinite alternate;
}

@keyframes offset {
    100% {
        background-position: 1000px 0;
        mask-position: 1000px 0;
    }
}